@import './main';

$day-size: 100px;
$day-count: 7;
$bg-color-days: #eee;
$bg-color-days-hover: #ffbfcb;

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: ($day-size * $day-count) + $day-count;
  gap: 1px;

  &__day {
    width: $day-size;
    height: $day-size;
    background-color: $bg-color-days;
    box-sizing: border-box;
    border: solid black 1px;

    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
      background-color: $bg-color-days-hover;
      transform: translateY(-20px);
    }

    @for $numbers-of-days from 1 through 31 {
      &:nth-child(#{$numbers-of-days})::before {
        content: '#{$numbers-of-days}';
        display: flex;
        font-family: Arial, sans-serif;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }

  $start-days: (
    mon: 0,
    tue: 1,
    wed: 2,
    thu: 3,
    fri: 4,
    sat: 5,
    sun: 6,
  );

  @each $day, $meaning in $start-days {
    &--start-day-#{$day} &__day:first-child {
      margin-left: $meaning * ($day-size + 1px);
    }
  }

  @for $days-count from 28 through 31 {
    &--month-length-#{$days-count} &__day:nth-child(n + #{$days-count + 1}) {
      display: none;
    }
  }
}
